* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: rgb(40, 69, 236);
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 28px 100px;
    background: navy;
}

h2 {
    color: #fff;
    font-size: 28px;
    font-weight: 700;
    user-select: none;
}

nav a {
    text-decoration: none;
    font-style: 24px;
    color: #fff;
    padding: 8px 16px;
    margin-left: 24px;
    transition: .2s;
}

.active, nav a:hover {
    color: brown;
}